<a href="https://colab.research.google.com/github/jesteenaec2529-collab/s2codebase/blob/main/EXPERIMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment No.1

**Introducing Python as a tool for computational mathematics**

##Aim
To introduce Python programming fundamentals and demonstrate its use as a computational tool for basic mathematical operations relevant to Engineering Mathematics.

1. **Hello World**

The classic first programme for any language .

In [1]:
print("Hello, World!")

Hello, World!

2.Basic Arithmetic operations

Simple operations like addition,subtraction,multiplication and division

In [2]:
#Addition
a=5;b=3
print("a+b=",a+b)
#Subtraction
print("a-b=",a-b)
#Multiplication
print("Multiplication:",a*b)
#Division
print("Division:",a/b)

a+b= 8
a-b= 2
Multiplication: 15
Division: 1.6666666666666667

3.**Variables and Data Types**

Indroduction to different data types likes integers , floats , strings and complex.

In [3]:
#Integer
x=10
print("Data type of x is",type(x))
#float
y =3.14
print("Data type of y is",type(y))
#string
z="Python"
print("Data type of z is ",type(z))
#complex
c=2+3j
print("Data type of c is",type(c))

Data type of x is <class 'int'>
Data type of y is <class 'float'>
Data type of z is  <class 'str'>
Data type of c is <class 'complex'>

4. **Lists**

Creating and manipulating lists

In [4]:
#Creating a list
fruits=["apple","banana","cherry"]
print("Lists:",fruits)
#Accessing elements
print("First fruit:",fruits[0])
#Adding an element
fruits.append("orange")
print("Updated list:",fruits)
#Removing an element
fruits.remove("banana")
print("list after removal:",fruits)
#Inserting an element at specific position in a list
fruits.insert(0,"banana")
print("New updated list:",fruits)

Lists: ['apple', 'banana', 'cherry']
First fruit: apple
Updated list: ['apple', 'banana', 'cherry', 'orange']
list after removal: ['apple', 'cherry', 'orange']
New updated list: ['banana', 'apple', 'cherry', 'orange']

5. **Loops**

Using for and while loops.

In [5]:
#for loop
for i in range(5):
  print("for loop iteration :",i)

for loop iteration : 0
for loop iteration : 1
for loop iteration : 2
for loop iteration : 3
for loop iteration : 4

In [6]:
#while loop
count=0
while count<=5 :
  print("while loop iteration :",count)
  count += 1

while loop iteration : 0
while loop iteration : 1
while loop iteration : 2
while loop iteration : 3
while loop iteration : 4
while loop iteration : 5

6. **Conditional statement**

Using if, elif and else statements

In [8]:
number=-5
if number > 0:
  print("Positive number")
elif number==0:
  print("Zero")
else:
  print("Negative number")

Negative number

In [10]:
a=input("Enter first number:")
b=input("Enter second number:")
if a > b:
  print(a,"is larger number")
elif a==b:
  print("Both are equal")
else:
  print(b,"is larger number")

Enter first number:7
Enter second number:5
7 is larger number

7. **Functions**

Defining and calling of functions.

In [11]:
# Defining a function
def greet(name):
  return("Hello, "+ name)

#Calling a function
print(greet("Alice"))
print(greet("Kalyani"))

Hello, Alice
Hello, Kalyani

# Use of `python` libraries

# Basic Usage of `Numpy`

**Importing Numpy**

In [14]:
import numpy as np

8. **Creating arrays using `Numpy`**

In [15]:
#Creating a 1D array
array_1d=np.array([1,2,3,4,5])
print("1D Array:",array_1d)

#Creating a 2D array
array_2d=np.array([[1,2,3],[4,5,6]])
print("2D Array:\n",array_2d)

1D Array: [1 2 3 4 5]
2D Array:
 [[1 2 3]
 [4 5 6]]